[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "HDElliptical"]
	path = HDElliptical
	url = https://github.com/flnankai/hdelliptical
